<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/error/error.css" rel="stylesheet">
    <title>403 권한 없음</title>
</head>
<body>
<div class="container">
    <h1>403</h1>
    <p>요청하신 페이지에 접근 권한이 없습니다.</p><br/>
    <a class="back-button" href="/">홈으로 돌아가기</a>
</div>
</body>
</html>
