<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>에이콘테이너 : 공급자 정보 확인</title>
    <link rel="stylesheet" href="/css/member/member.css"/>
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-owner-list.css">
</head>
<body>
<div sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <div th:replace="~{fragments/header-admin :: header}"></div>
</div>
<div class="custom-gap-top"></div>
<form id="ownerListForm" method="get">
    <input type="hidden" id="pageNo" name="pageNo" th:value="${request.pageNo}"/>
    <div class="text-header">
        <h2 class="align">공급자 관리</h2>
    </div>
    <div class="custom-search-bar">
        <label for="searchType" class="visually-hidden">검색 유형</label>
        <select id="searchType" name="searchType">
            <option value="ownerBusinessNum" th:selected="${request.searchType == 'ownerBusinessNum'}">사업자번호</option>
            <option value="ownerNm" th:selected="${request.searchType == 'ownerNm'}">공급자명</option>
            <option value="ownerCompanyName" th:selected="${request.searchType == 'ownerCompanyName'}">회사명</option>
        </select>
        <label for="searchName" class="visually-hidden">검색어 입력</label>
        <input type="text" id="searchName" name="searchName" placeholder="검색어를 입력하세요." th:value="${request.searchName}">
        <button id="searchButton" type="button">검색</button>
        <button id="resetBtn" type="button">초기화</button>
    </div>
    <div class="table-owner">
        <div class="table-row header-row">
            <div class="table-header-cell">번호</div>
            <div class="table-header-cell">사업자번호</div>
            <div class="table-header-cell">공급자명</div>
            <div class="table-header-cell">회사명</div>
            <div class="table-header-cell">가입일자</div>
        </div>
        <th:block th:each="owner : ${ownerListData}">
            <div class="table-row" th:attr="onclick=|location.href='/admin/owner/detail/${owner.ownerId}'|" style="cursor: pointer;">
                <div class="table-cell" th:text="${owner.rowNum}"></div>
                <div class="table-cell" th:text="${owner.ownerBusinessNum}"></div>
                <div class="table-cell" th:text="${owner.ownerNm}"></div>
                <div class="table-cell" th:text="${owner.ownerCompanyName}"></div>
                <div class="table-cell" th:text="${#temporals.format(owner.ownerCreated, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
        </th:block>
        <th:block th:if="${#lists.isEmpty(ownerListData)}">
            <div class="table-row">
                <div class="table-cell" colspan="5">조회된 공급자가 없습니다.</div>
            </div>
        </th:block>
    </div>
    <div class="custom-pagination">
        <th:block th:if="${request.totalCount > 0}">
            <ul>
                <li th:if="${request.startPageNo > 1}">
                    <a th:href="@{/container/list(pageNo=${request.firstPageNo})}">&laquo;</a>
                </li>
                <li th:if="${request.pageNo > request.startPageNo}">
                    <a th:href="@{/container/list(pageNo=${request.prevPageNo})}">&lt;</a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(request.startPageNo, request.endPageNo)}">
                    <li th:classappend="${i == request.pageNo} ? 'active'">
                        <a th:href="@{/container/list(pageNo=${i})}" th:text="${i}"></a>
                    </li>
                </th:block>
                <li th:if="${request.pageNo < request.endPageNo}">
                    <a th:href="@{/container/list(pageNo=${request.nextPageNo})}">&gt;</a>
                </li>
                <li th:if="${request.endPageNo < request.finalPageNo}">
                    <a th:href="@{/container/list(pageNo=${request.finalPageNo})}">&raquo;</a>
                </li>
            </ul>
        </th:block>
    </div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchButton = document.getElementById("searchButton");
        const resetButton = document.getElementById("resetBtn");

        searchButton.addEventListener("click", function (event) {
            event.preventDefault();

            const pageNo = document.getElementById("pageNo").value;
            const searchType = document.getElementById("searchType").value;
            const searchName = document.getElementById("searchName").value;

            window.location.href = `/admin/owner/list?pageNo=${pageNo}&searchType=${searchType}&searchName=${searchName}`;
        });

        resetButton.addEventListener("click", function () {
            window.location.href = "/admin/owner/list";
        });
    });
</script>
</body>
</html>