<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AcornContainer</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header-admin :: header}"></div>
<div class="custom-gap-top"></div>
<div class="text-header">
    <h2 class="align">창고 관리</h2>
</div>
<div class="table-container">
    <div class="table-row header-row">
        <div class="table-header-cell">번호</div>
        <div class="table-header-cell">주소</div>
        <div class="table-header-cell">회사명</div>
        <div class="table-header-cell">면적</div>
        <div class="table-header-cell">창고 상태</div>
        <div class="table-header-cell">승인 상태</div>
    </div>
    <div class="table-body">
        <th:block th:if="${#lists.isEmpty(containerList)}">
            <div class="table-row">
                <div class="table-cell" colspan="5">
                    등록된 창고가 없습니다.
                </div>
            </div>
        </th:block>
        <th:block th:each="container : ${containerList}">
            <div class="table-row" th:attr="onclick=|location.href='/admin/container/detail/${container.containerId}'|" style="cursor: pointer;">
                <div class="table-cell" th:text="${container.rowNum}"></div>
                <div class="table-cell" th:text="${container.containerAddr}"></div>
                <div class="table-cell" th:text="${container.companyName}"></div>
                <div class="table-cell" th:text="${container.containerSize + ' m²'}"></div>
                <div class="table-cell"
                     th:text="${container.containerStatus == 0 ? '사용가능'
                    : (container.containerStatus == 1 ? '사용중'
                    : (container.containerStatus == 2 ? '사용불가' : '알수없음'))}">
                </div>
                <div class="table-cell"
                     th:text="${container.containerApprovalStatus == 0 ? '승인대기'
                    : (container.containerApprovalStatus == 1 ? '승인완료'
                    : (container.containerApprovalStatus == 2 ? '승인거절' : '알수없음'))}">
                </div>
            </div>
        </th:block>
    </div>
</div>
<div class="custom-pagination">
    <th:block th:if="${request.totalCount > 0}">
        <ul>
            <li th:if="${request.startPageNo > 1}">
                <a th:href="@{/container/list(pageNo=${request.firstPageNo})}">&laquo;</a>
            </li>
            <li th:if="${request.pageNo > request.startPageNo}">
                <a th:href="@{/container/list(pageNo=${request.prevPageNo})}">&lt;</a>
            </li>
            <th:block th:each="i : ${#numbers.sequence(request.startPageNo, request.endPageNo)}">
                <li th:classappend="${i == request.pageNo} ? 'active'">
                    <a th:href="@{/container/list(pageNo=${i})}" th:text="${i}"></a>
                </li>
            </th:block>
            <li th:if="${request.pageNo < request.endPageNo}">
                <a th:href="@{/container/list(pageNo=${request.nextPageNo})}">&gt;</a>
            </li>
            <li th:if="${request.endPageNo < request.finalPageNo}">
                <a th:href="@{/container/list(pageNo=${request.finalPageNo})}">&raquo;</a>
            </li>
        </ul>
    </th:block>
</div>
</body>
</html>