<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>에이콘테이너 : 사용자 상세정보 확인</title>
  <link rel="stylesheet" href="/css/member/member.css"/>
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/admin/admin-user-detail.css">
</head>
<body>
<div sec:authorize="hasAnyRole('ROLE_ADMIN')">
  <div th:replace="~{fragments/header-admin :: header}"></div>
</div>
<div class="user-detail-container">
  <h2 class="user-detail-title">사용자 상세 정보</h2>
  <table class="user-detail-table">
    <tr>
      <th>이메일</th>
      <td th:text="${userDetailData.userEmail}">이메일</td>
    </tr>
    <tr>
      <th>이름</th>
      <td th:text="${userDetailData.userNm}">이름</td>
    </tr>
    <tr>
      <th>전화번호</th>
      <td th:text="${userDetailData.userTel}">전화번호</td>
    </tr>
    <tr>
      <th>가입일</th>
      <td th:text="${#temporals.format(userDetailData.userCreated, 'yyyy-MM-dd HH:mm')}">가입일</td>
    </tr>
    <tr>
      <th>수정일</th>
      <td th:text="${userDetailData.userUpdated != null ? #temporals.format(userDetailData.userUpdated, 'yyyy-MM-dd HH:mm') : '수정 내역 없음'}">수정일</td>
    </tr>
  </table>
  <div class="btn-wrap">
    <button class="btn-detail btn-back" id="backBtn">목록</button>
    <button class="btn-detail btn-edit">수정</button>
    <button class="btn-detail btn-disable">삭제</button>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let backBtn = document.getElementById("backBtn");

    backBtn.addEventListener("click", function () {
      window.location.href = "/admin/user/list";
    });
  });
</script>
</body>
</html>