<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>에이콘테이너</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/css/admin/admin-cont-approve.css" rel="stylesheet">
    <script>
        window.onload = function () {
            let approveButtonIds = ["btnApprove0", "btnApprove1", "btnApprove2", "btnApprove3", "btnApprove4"];
            let frm = document.forms['frm'];
            for (let i = 0; i < approveButtonIds.length; i++) {
                let approveId = approveButtonIds[i];
                let button = document.querySelector("#" + approveId);
                if (button) {
                    button.onclick = function () {
                        if (confirm("승인 하시겠습니까?")) {
                            frm.action = "/apprProcess";
                            frm.method = "post";
                            frm.submit();
                        }
                    };
                }
            }

            let denyButtonIds = ["btnDeny0", "btnDeny1", "btnDeny2", "btnDeny3", "btnDeny4"];
            for (let i = 0; i < denyButtonIds.length; i++) {
                let denyId = denyButtonIds[i];
                let button = document.querySelector("#" + denyId);
                if (button) {
                    button.onclick = function () {
                        if (confirm("거절 하시겠습니까?")) {
                            frm.action = "/denyProcess";
                            frm.method = "post";
                            frm.submit();
                        }
                    };
                }
            }

            document.querySelector("#btnList").onclick = function () {
                location.href = "/registered";
            }

            let deleteButtonIds = ["btnDelete0", "btnDelete1", "btnDelete2", "btnDelete3", "btnDelete4"];
            for (let i = 0; i < deleteButtonIds.length; i++) {
                let deleteId = deleteButtonIds[i];
                let button = document.querySelector("#" + deleteId);
                if (button) {
                    button.onclick = function () {
                        if (confirm("정말 삭제할까요?")) {
                            frm.action = "/deleteContainer";
                            frm.method = "get";
                            frm.submit();
                        }
                    };
                }
            }
        }
    </script>
</head>
<body>
<div th:if="${session.adminSession != null}">
    <div th:replace="~{fragments/header_admin :: header}"></div>
    <h3>상세보기</h3>
    <form name="frm" th:object="${containerDTO}">
        <input type="hidden" name="frm" th:field="*{cont_no}"/>
        <br/>
        <div class="container-box">
            <table>
                <tr>
                    <th>창고번호</th>
                    <td th:text="${containerDTO.cont_no}"></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td th:text="${containerDTO.cont_addr}"></td>
                </tr>
                <tr>
                    <th>위도</th>
                    <td th:text="${containerDTO.cont_we}"></td>
                </tr>
                <tr>
                    <th>경도</th>
                    <td th:text="${containerDTO.cont_kyung}"></td>
                </tr>
                <tr>
                    <th>면적</th>
                    <td th:text="${containerDTO.cont_size}"></td>
                </tr>
                <tr>
                    <th>회사이름</th>
                    <td th:text="${containerDTO.cont_name}"></td>
                </tr>
                <tr>
                    <th>소유주 전화번호</th>
                    <td th:text="${containerDTO.owner_phone}"></td>
                </tr>
                <tr>
                    <th>창고 사진</th>
                    <td th:text="${containerDTO.cont_image}"></td>
                </tr>
                <tr>
                    <th>사업자번호</th>
                    <td th:text="${containerDTO.owner_num}"></td>
                </tr>
            </table>
        </div>
        <hr/>
        <div style="color: black">
            현재 상태 :
            <span th:switch="${containerDTO.cont_status}">
                <span th:case="0" style="color: orange">승인대기</span>
                <span th:case="1" style="color: yellow">사용가능</span>
                <span th:case="2" style="color: blue">예약중</span>
                <span th:case="3" style="color: blueviolet">사용중</span>
                <span th:case="4" style="color: red">승인거부</span>
            </span>
        </div>
        <br/>
        <input type="button" value="목록" id="btnList" class="btn btn-primary"/>
        <!-- 삭제, 승인, 거부 버튼 항상 표시 -->
        <input type="button" value="삭제" id="btnDelete0" class="btn btn-warning"/>
        <input type="button" value="승인" id="btnApprove0" class="btn btn-primary"/>
        <input type="button" value="거부" id="btnDeny0" class="btn btn-warning"/>
    </form>
</div>
</body>
</html>
