<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AcornContainer</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/member/member.css"/>
</head>
<body>
<div th:replace="~{fragments/header_admin :: header}"></div>
<div class="custom-gap-top"></div>
<div class="text-header">
    <h2 class="align">등록된 창고 관리하기</h2>
</div>
<div class="table-container">
    <div class="table-row header-row">
        <div class="table-header-cell">창고번호</div>
        <div class="table-header-cell">주소</div>
        <div class="table-header-cell">위도</div>
        <div class="table-header-cell">경도</div>
        <div class="table-header-cell">면적</div>
        <div class="table-header-cell">회사이름</div>
        <div class="table-header-cell">소유주 전화번호</div>
        <div class="table-header-cell">현재 상태</div>
        <div class="table-header-cell">사업자번호</div>
    </div>
    <div class="table-body">
        <div class="table-row">
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell">
                <a th:case='0'>승인대기</a>
                <a th:case='1'>사용가능</a>
                <a th:case='2'>예약중</a>
                <a th:case='3'>사용중</a>
                <a th:case='4'>승인거부</a>
            </div>
            <div class="table-cell"></div>
        </div>
    </div>
</div>
<div class="custom-gap-middle"></div>
<div class="search-container">
    <form action="/reg/search" method="post">
        <div class="search-input">
            <label for="searchName">검색 대상:</label>
            <select name="searchName" id="searchName">
                <option value="cont_name" selected>회사이름</option>
            </select>
        </div>
        <div class="search-input">
            <label>
                <input type="text" name="searchValue" placeholder="검색어를 입력하세요">
            </label>
        </div>
        <div class="search-button">
            <input type="submit" value="검 색">
        </div>
    </form>
</div>
<hr/>
<div class="pagination">
    <table style="margin-top: 20px;">
        <tr style="text-align: center;">
            <td colspan="5">
            </td>
        </tr>
    </table>
</div>
</body>
</html>