<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>에이콘 컨테이너 : 예약 조회</title>
    <link rel="stylesheet" href="/css/member/member.css"/>
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/reservation/reservation-list.css">
</head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:replace="~{fragments/header:: header}"></div>
</div>
<div sec:authorize="hasAnyRole('ROLE_USER')">
    <div th:replace="~{fragments/header-user :: header}"></div>
</div>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<div class="custom-gap-top"></div>
<form id="reservationListForm" method="get">
    <input type="hidden" id="pageNo" name="pageNo" th:value="${request.pageNo}"/>
    <div class="text-header">
        <h2 class="align">예약 목록</h2>
    </div>
    <div class="custom-search-bar">
        <label for="searchType" class="visually-hidden">검색 유형</label>
        <select id="searchType" name="searchType">
            <option value="containerName" th:selected="${request.searchType == 'containerName'}">창고이름</option>
            <option value="ownerCompanyName" th:selected="${request.searchType == 'ownerCompanyName'}">회사명</option>
            <option value="reservationStatus" th:selected="${request.searchType == 'reservationStatus'}">예약 상태</option>
        </select>
        <label for="searchName" class="visually-hidden">검색어 입력</label>
        <input type="text" id="searchName" name="searchName" placeholder="검색어를 입력하세요." th:value="${request.searchName}">
        <select id="statusValue" name="searchName" style="display: none;" aria-label="창고 상태">
            <option value="0" th:selected="${request.searchName == '0'}">예약 대기</option>
            <option value="1" th:selected="${request.searchName == '1'}">예약 중</option>
            <option value="2" th:selected="${request.searchName == '2'}">예약 종료</option>
            <option value="3" th:selected="${request.searchName == '3'}">예약 취소</option>
        </select>
        <button id="searchButton" type="button">검색</button>
        <button id="resetBtn" type="button">초기화</button>
    </div>
    <div class="table-reserve">
        <div class="table-row header-row">
            <div class="table-header-cell">번호</div>
            <div class="table-header-cell">창고이름</div>
            <div class="table-header-cell">회사명</div>
            <div class="table-header-cell">예약상태</div>
            <div class="table-header-cell">예약일</div>
            <div class="table-header-cell">마감일</div>
        </div>
        <th:block th:each="reserve : ${reservationListData}">
            <div class="table-row" th:attr="onclick=|location.href='/user/reservation/detail/${reserve.reservationId}'|" style="cursor: pointer;">
                <div class="table-cell" th:text="${reserve.rowNum}"></div>
                <div class="table-cell" th:text="${reserve.containerName}"></div>
                <div class="table-cell" th:text="${reserve.companyName}"></div>
                <div class="table-cell"
                     th:text="${reserve.reservationStatus == 0 ? '예약대기'
                                    : (reserve.reservationStatus == 1 ? '예약중'
                                    : (reserve.reservationStatus == 2 ? '예약종료'
                                    : (reserve.reservationStatus == 3 ? '예약취소' : '알수없음')))}">
                </div>
                <div class="table-cell" th:text="${#temporals.format(reserve.reservationStartDate, 'yyyy-MM-dd HH:mm')}"></div>
                <div class="table-cell" th:text="${#temporals.format(reserve.reservationEndDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
        </th:block>
        <th:block th:if="${#lists.isEmpty(reservationListData)}">
            <div class="table-row">
                <div class="table-cell" colspan="5">조회된 예약 정보가 없습니다.</div>
            </div>
        </th:block>
    </div>
    <div class="custom-pagination">
        <th:block th:if="${request.totalCount > 0}">
            <ul>
                <li th:if="${request.startPageNo > 1}">
                    <a th:href="@{/user/reservation/list(pageNo=${request.firstPageNo})}">&laquo;</a>
                </li>
                <li th:if="${request.pageNo > request.startPageNo}">
                    <a th:href="@{/user/reservation/list(pageNo=${request.prevPageNo})}">&lt;</a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(request.startPageNo, request.endPageNo)}">
                    <li th:classappend="${i == request.pageNo} ? 'active'">
                        <a th:href="@{/user/reservation/list(pageNo=${i})}" th:text="${i}"></a>
                    </li>
                </th:block>
                <li th:if="${request.pageNo < request.endPageNo}">
                    <a th:href="@{/user/reservation/list(pageNo=${request.nextPageNo})}">&gt;</a>
                </li>
                <li th:if="${request.endPageNo < request.finalPageNo}">
                    <a th:href="@{/user/reservation/list(pageNo=${request.finalPageNo})}">&raquo;</a>
                </li>
            </ul>
        </th:block>
    </div>
</form>
<script src="/js/common/logout.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pageNo = document.getElementById("pageNo").value;
        const searchType = document.getElementById("searchType");
        const searchName = document.getElementById("searchName");

        const statusValue = document.getElementById("statusValue");

        const searchButton = document.getElementById("searchButton");
        const resetButton = document.getElementById("resetBtn");

        const setSearchInputVisibility = () => {
            searchName.style.display = "none";
            searchName.name = "";

            statusValue.style.display = "none";
            statusValue.name = "";

            if (searchType.value === "reservationStatus") {
                statusValue.style.display = "inline-block";
                statusValue.name = "searchName";
            } else {
                searchName.style.display = "inline-block";
                searchName.name = "searchName";
            }
        }

        setSearchInputVisibility();
        searchType.addEventListener("change", setSearchInputVisibility);

        searchButton.addEventListener("click", function (event) {
            event.preventDefault();

            let searchValue;

            if (searchType.value === "reservationStatus") {
                searchValue = statusValue.value;
            } else {
                searchValue = searchName.value.trim();
            }

            window.location.href = `/user/reservation/list?pageNo=${pageNo}&searchType=${searchType.value}&searchName=${searchValue}`;
        });

        resetButton.addEventListener("click", function () {
            window.location.href = "/user/reservation/list";
        });
    });
</script>
</body>
</html>