<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/board/board-detail.css}">
    <link href="/assets/img/favicon.png" rel="icon">
    <title>에이콘테이너 : 글 상세보기</title>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="/js/common/tinyMCEConfig.js"></script>
    <script src="/js/common/fileModule.js"></script>
</head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:replace="~{fragments/header:: header}"></div>
</div>
<div sec:authorize="hasAnyRole('ROLE_USER')">
    <div th:replace="~{fragments/header-user :: header}"></div>
</div>
<div sec:authorize="hasAnyRole('ROLE_OWNER')">
    <div th:replace="~{fragments/header-owner :: header}"></div>
</div>
<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
    </div>
    <div class="board-view-form">
        <div class="board-view-header">
            <h1 th:text="${boardDetailData.boardTitle}"></h1>
            <div class="board-meta">
                <span th:text="|작성자: ${boardDetailData.boardWriter}|"></span>
                <span th:text="|조회수: ${boardDetailData.boardHits}|"></span>
            </div>
        </div>

        <div class="board-content">
            <p th:text="${boardDetailData.boardContentsText}"></p>
        </div>

        <div class="board-attachments">
            <label>첨부파일</label>
            <ul>
                <li th:each="file : ${boardDetailData.boardFiles}">
                    <a th:text="${file.boardOriginalFileName}"></a>
                </li>
            </ul>
        </div>

        <div class="button-container">
            <input type="button" class="ListBtn" id="listBtn" value="목록">
            <th:block th:if="${boardDetailData.isAuthor}">
                <input type="button" class="updateBtn" id="updateBtn" value="수정">
                <input type="button" class="deleteBtn" id="deleteBtn" value="삭제">
            </th:block>
        </div>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let listBtn = document.getElementById("listBtn");
        let updateBtn = document.getElementById("updateBtn");
        let deleteBtn = document.getElementById("deleteBtn");

        listBtn.addEventListener("click", function () {
            window.location.href = "/board/list";
        });
    });
</script>
</body>
</html>