<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/user/user-update.js"></script>
    <title>에이콘 컨테이너 : 회원탈퇴</title>
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/user-join.css">
</head>
<body>
<div th:if="${session.userSession != null}">
    <header id="header" class="header d-flex align-items-center">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/user/mypage" class="active">Home</a></li>
            </ul>
        </nav>
    </header>
    <h3 style="text-align: center; line-height: 2;"><span th:text="${userSession.user_name}"></span>님의 회원탈퇴</h3>
    <div class="join-form">
        <div class="content">
            <form action="/user/delete" name="userDelete" method="POST">
                <h3>아이디</h3>
                <label for="user_id">
                    <input type="text" name="user_id" id="user_id" class="text-field" th:value="${userSession.user_id}" readonly>
                </label>
                <div id="messageContainer">
                    <h3>비밀번호</h3>
                    <label for="user_pwd">
                        <input type="password" name="user_pwd" id="user_pwd" class="text-field"
                               th:value="${userSession.user_pwd}" placeholder="비밀번호" readonly>
                    </label>
                    <div id="user_pwdMessage"></div>

                    <h3>비밀번호 확인</h3>
                    <label for="user_repwd">
                        <input type="password" name="user_repwd" id="user_repwd" class="text-field" placeholder="비밀번호 확인">
                    </label>
                    <div id="user_repwdMessage"></div>

                    <h3>이름</h3>
                    <label for="user_name">
                        <input type="text" name="user_name" id="user_name" class="text-field"
                               th:value="${userSession.user_name}" placeholder="이름" readonly>
                    </label>
                    <div id="user_nameMessage"></div>

                    <h3>전화번호</h3>
                    <label for="user_tel">
                        <input type="tel" name="user_tel" id="user_tel" class="text-field"
                               th:value="${userSession.user_tel}" placeholder="전화번호" readonly>
                    </label>
                    <div id="user_telMessage"></div>

                    <h3>이메일</h3>
                    <label for="user_email">
                        <input type="text" name="user_email" id="user_email" class="text-field" maxlength="30"
                               th:value="${userSession.user_email}" placeholder="이메일" readonly>
                    </label>
                    <div id="user_emailMessage"></div>
                    <h3>입력한 주소</h3>
                    <label for="user_combinedAddress">
                        <input type="text" name="user_addr" id="user_combinedAddress" class="text-field"
                               th:value="${userSession.user_addr}" readonly>
                    </label>
                    <h3>주민등록번호</h3>
                    <label for="user_jumin">
                        <input type="tel" name="user_jumin" id="user_jumin" class="text-field"
                               th:value="${userSession.user_jumin}" placeholder="주민번호" readonly>
                    </label>
                    <div id="user_juminMessage"></div>
                </div>
                <input type="submit" class="submit-btn" value="탈퇴하기">
                <input type="reset" class="reset-btn" id="btnReset" value="취소">
            </form>
        </div>
    </div>
</div>
</body>
</html>