<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에이콘테이너 : 로그인</title>
    <link rel="stylesheet" href="/css/user/user-login.css">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
<header id="header" class="header d-flex align-items-center">
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/owner/login">사업자 로그인</a></li>
        </ul>
    </nav>
</header>
<section class="login-form">
    <h1>사용자 로그인</h1>
    <form action="/user/login" method="post">
        <div class="int-area">
            <input type="text" name="userEmail" id="userEmail" autocomplete="off" required>
            <label for="userEmail">User Email</label>
        </div>
        <div class="int-area">
            <input type="password" name="userPassword" id="userPassword" autocomplete="off" required>
            <label for="userPassword">Password</label>
        </div>
        <div class="btn-area">
            <button type="submit" id="userLoginBtn">LOGIN</button>
        </div>
    </form>
    <div class="caption">
        <a href="/user/info/find">아이디/비밀번호 찾기</a>
        <a href="/user/join">회원가입</a>
    </div>
</section>
</body>
</html>