<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.api.repository.user.UserRepository">
    <resultMap id="userResultMap"           type="com.acorn.api.entity.user.User">
        <id property="rowNum"               column="ROW_NUM"/>
        <id property="userId"               column="USER_ID"/>
        <result property="userEmail"        column="USER_EMAIL"/>
        <result property="userPassword"     column="USER_PASSWORD"/>
        <result property="userNm"           column="USER_NM"/>
        <result property="userTel"          column="USER_TEL"/>
        <result property="userAddr"         column="USER_ADDRESS"/>
        <result property="userRole"         column="USER_ROLE"/>
        <result property="userCreated"      column="USER_CREATED"/>
        <result property="userUpdated"      column="USER_UPDATED"/>
    </resultMap>

    <select id="selectUserIdKey"  resultType="Integer">
        SELECT nextval(USER_SEQ)
    </select>

    <select id="isEmailDuplicate" parameterType="String" resultType="Boolean">
        SELECT EXISTS (
            SELECT
                1
            FROM
                TB_USER
            WHERE
                USER_EMAIL = #{userEmail}
        )
    </select>

    <select id="isTelDuplicate" parameterType="String" resultType="Boolean">
        SELECT EXISTS (
            SELECT
                1
            FROM
                TB_USER
            WHERE
                USER_TEL = #{userTel}
        )
    </select>

    <insert id="userRegister" parameterType="com.acorn.api.entity.user.User" useGeneratedKeys="true" keyProperty="userId" >
        INSERT INTO TB_USER (
            USER_ID,
            USER_EMAIL,
            USER_PASSWORD,
            USER_NM,
            USER_TEL,
            USER_ADDRESS,
            USER_ROLE
        ) VALUES (
            #{userId},
            #{userEmail},
            #{userPassword},
            #{userNm},
            #{userTel},
            #{userAddr},
            #{userRole}
        )
    </insert>

    <select id="findByUserEmail" parameterType="String" resultMap="userResultMap">
        SELECT
            USER_ID,
            USER_EMAIL,
            USER_PASSWORD,
            USER_NM,
            USER_TEL,
            USER_ADDRESS,
            USER_ROLE
        FROM
            TB_USER
        WHERE
            USER_EMAIL = #{userEmail}
    </select>

    <select id="selectAllUserData" parameterType="Integer" resultMap="userResultMap">
        SELECT
            USER_ID,
            USER_EMAIL,
            USER_PASSWORD,
            USER_NM,
            USER_TEL,
            USER_ADDRESS,
            USER_ROLE,
            USER_CREATED,
            USER_UPDATED
        FROM
            TB_USER
        WHERE
            USER_ID = #{userId}
    </select>

    <select id="selectAdminUserListCountByRequest" parameterType="com.acorn.api.common.PaginationRequest" resultType="Integer">
        SELECT
            COUNT(USER_ID)
        FROM
            TB_USER
        <where>
            <if test="searchType == 'userEmail' and searchName != null and searchName.trim() != ''">
                USER_EMAIL LIKE CONCAT ('%', TRIM(#{searchName}), '%')
            </if>
            <if test="searchType == 'userNm' and searchName != null and searchName.trim() != ''">
                AND USER_NM LIKE CONCAT ('%', TRIM(#{searchName}), '%')
            </if>
        </where>
    </select>

    <select id="selectAdminUserListData" parameterType="com.acorn.api.common.PaginationRequest" resultMap="userResultMap">
        SELECT
            ROW_NUMBER() OVER (ORDER BY USER_CREATED ASC) AS ROW_NUM,
            USER_ID,
            USER_EMAIL,
            USER_NM,
            USER_TEL,
            USER_CREATED
        FROM
            TB_USER
        <where>
            <if test="searchType == 'userEmail' and searchName != null and searchName.trim() != ''">
                USER_EMAIL LIKE CONCAT ('%', TRIM(#{searchName}), '%')
            </if>
            <if test="searchType == 'userNm' and searchName != null and searchName.trim() != ''">
                AND USER_NM LIKE CONCAT ('%', TRIM(#{searchName}), '%')
            </if>
        </where>
        ORDER BY USER_CREATED DESC
        LIMIT ${startRowNum}, ${pageSize}
    </select>

    <update id="userUpdate" parameterType="com.acorn.api.entity.user.User">
        UPDATE
            TB_USER
        SET
            USER_NM = #{userNm},
            USER_TEL = #{userTel},
            USER_ADDRESS = #{userAddr},
            USER_UPDATED = NOW()
        WHERE
            USER_ID = #{userId}
    </update>

    <update id="adminUserUpdate" parameterType="com.acorn.api.entity.user.User">
        UPDATE
            TB_USER
        SET
            USER_EMAIL = #{userEmail},
            USER_NM = #{userNm},
            USER_TEL = #{userTel},
            USER_ADDRESS = #{userAddr},
            USER_UPDATED = NOW()
        WHERE
            USER_ID = #{userId}
    </update>

    <delete id="userDelete" parameterType="com.acorn.api.entity.user.User">
        DELETE
        FROM
            TB_USER
        WHERE
            USER_ID = #{userId}
    </delete>
</mapper>