<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.api.repository.owner.OwnerRepository">
    <resultMap id="ownerResultMap"             type="com.acorn.api.entity.owner.Owner">
        <id property="rowNum"                  column="ROW_NUM"/>
        <id property="ownerId"                 column="OWNER_ID"/>
        <result property="ownerEmail"          column="OWNER_EMAIL"/>
        <result property="ownerBusinessNum"    column="BUSINESS_NUMBER"/>
        <result property="ownerPassword"       column="OWNER_PASSWORD"/>
        <result property="ownerNm"             column="OWNER_NM"/>
        <result property="ownerTel"            column="OWNER_TEL"/>
        <result property="ownerCompanyName"    column="OWNER_COMPANY_NAME"/>
        <result property="ownerAddr"           column="OWNER_ADDRESS"/>
        <result property="ownerRole"           column="OWNER_ROLE"/>
        <result property="ownerCreated"        column="OWNER_CREATED"/>
        <result property="ownerUpdated"        column="OWNER_UPDATED"/>
    </resultMap>

    <select id="selectOwnerIdKey"  resultType="Integer">
        SELECT nextval(OWNER_SEQ)
    </select>

    <select id="isEmailDuplicate" parameterType="String" resultType="Boolean">
        SELECT EXISTS (
            SELECT
                1
            FROM
                TB_OWNER
            WHERE OWNER_EMAIL = #{ownerEmail}
        )
    </select>

    <select id="isBusinessNumDuplicate" parameterType="String" resultType="Boolean">
        SELECT EXISTS(
            SELECT
                1
            FROM
                TB_OWNER
            WHERE BUSINESS_NUMBER = #{ownerBusinessNum}
        )
    </select>

    <select id="isTelDuplicate" parameterType="String" resultType="Boolean">
        SELECT EXISTS(
            SELECT
                1
            FROM
                TB_OWNER
            WHERE OWNER_TEL = #{ownerTel}
        )
    </select>

    <select id="isCompanyNameDuplicate" parameterType="String" resultType="Boolean">
        SELECT EXISTS(
            SELECT
                1
            FROM
                TB_OWNER
            WHERE OWNER_COMPANY_NAME = #{ownerCompanyName}
        )
    </select>

    <insert id="ownerRegister" parameterType="com.acorn.api.entity.owner.Owner" useGeneratedKeys="true" keyProperty="ownerId" >
        INSERT INTO TB_OWNER (OWNER_ID, OWNER_EMAIL, BUSINESS_NUMBER, OWNER_PASSWORD, OWNER_NM, OWNER_TEL, OWNER_COMPANY_NAME, OWNER_ADDRESS, OWNER_ROLE)
        VALUES (#{ownerId}, #{ownerEmail}, #{ownerBusinessNum}, #{ownerPassword}, #{ownerNm}, #{ownerTel}, #{ownerCompanyName}, #{ownerAddr}, #{ownerRole})
    </insert>

    <select id="findByOwnerBusinessNum" parameterType="String" resultMap="ownerResultMap">
        SELECT
            *
        FROM
            TB_OWNER
        WHERE BUSINESS_NUMBER = #{ownerBusinessNum}
    </select>

    <select id="selectAllOwnerData" parameterType="Integer" resultMap="ownerResultMap">
        SELECT
            *
        FROM
            TB_OWNER
        WHERE OWNER_ID = #{ownerId}
    </select>

    <select id="selectAdminOwnerListCountByRequest" parameterType="com.acorn.api.common.PaginationRequest" resultType="Integer">
        SELECT
            COUNT(OWNER_ID)
        FROM
            TB_OWNER
        <where>
            <if test="searchType == 'ownerBusinessNum' and searchName != null and searchName.trim() != ''">
                BUSINESS_NUMBER LIKE CONCAT ('%', TRIM(#{searchName}), '%')
            </if>
            <if test="searchType == 'ownerNm' and searchName != null and searchName.trim() != ''">
                AND OWNER_NM LIKE CONCAT ('%', TRIM(#{searchName}), '%')
            </if>
            <if test="searchType == 'ownerCompanyName' and searchName != null and searchName.trim() != ''">
                AND OWNER_COMPANY_NAME LIKE CONCAT ('%', TRIM(#{searchName}), '%')
            </if>
        </where>
    </select>

    <select id="selectAdminOwnerListData" parameterType="com.acorn.api.common.PaginationRequest" resultMap="ownerResultMap">
        SELECT
            ROW_NUMBER() OVER (ORDER BY OWNER_CREATED ASC) AS ROW_NUM,
            OWNER_ID,
            BUSINESS_NUMBER,
            OWNER_NM,
            OWNER_TEL,
            OWNER_COMPANY_NAME,
            OWNER_CREATED
        FROM
            TB_OWNER
        <where>
            <if test="searchType == 'ownerBusinessNum' and searchName != null and searchName.trim() != ''">
                TRIM(BUSINESS_NUMBER) LIKE CONCAT('%', TRIM(#{searchName}), '%')
            </if>
            <if test="searchType == 'ownerNm' and searchName != null and searchName.trim() != ''">
                AND TRIM(OWNER_NM) LIKE CONCAT('%', TRIM(#{searchName}), '%')
            </if>
            <if test="searchType == 'ownerCompanyName' and searchName != null and searchName.trim() != ''">
                AND TRIM(OWNER_COMPANY_NAME) LIKE CONCAT('%', TRIM(#{searchName}), '%')
            </if>
        </where>
    </select>

    <update id="ownerUpdate" parameterType="com.acorn.api.entity.owner.Owner">
        UPDATE
            TB_OWNER
        SET
            OWNER_EMAIL = #{ownerEmail},
            OWNER_NM = #{ownerNm},
            OWNER_TEL = #{ownerTel},
            OWNER_COMPANY_NAME = #{ownerCompanyName},
            OWNER_ADDRESS = #{ownerAddr},
            OWNER_UPDATED = NOW()
        WHERE OWNER_ID = #{ownerId}
    </update>

    <delete id="ownerDelete" parameterType="com.acorn.api.entity.owner.Owner">
        DELETE
        FROM
            TB_OWNER
        WHERE OWNER_ID = #{ownerId}
    </delete>
</mapper>