<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>에이컨테이너 : 예약정보</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/assets/img/favicon.png" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/booking/booking-info.css">
</head>
<body>
<div th:replace="~{fragments/header_user :: header}"></div>
<div id="booking-info">
    <main id="container">
        <h1>예약 정보</h1>
        <div th:if="${bList != null and bList.size > 0}" class="table-booking">
            <table class="table">
                <thead>
                <tr>
                    <th>예약자</th>
                    <th>예약날짜(시작)</th>
                    <th>예약날짜(종료)</th>
                    <th>창고번호</th>
                    <th>사이즈</th>
                    <th>이용요금</th>
                    <th>예약상태</th>
                    <th>취소여부</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="b : ${bList}">
                    <td th:text="${b.user_name}"></td>
                    <td th:text="${b.booking_date_start}"></td>
                    <td th:text="${b.booking_date_end}"></td>
                    <td th:text="${b.cont_no}"></td>
                    <td th:text="${b.cont_size}"></td>
                    <td th:text="${b.booking_price}"></td>
                    <td th:text="${b.booking_status}"></td>
                    <td>
                        <button type="button" class="cancel-btn" th:data-id="${b.booking_id}">취소하기</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${bList != null and bList.size > 0}">
            <p>예약 정보가 없습니다.</p>
        </div>
        <div class="button-group">
            <button type="button" id="main-btn" onClick="location.href='/'">메인으로 돌아가기</button>
        </div>
    </main>
</div>
<script src="/js/booking/booking-info.js"></script>
</body>
</html>