<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/member/member.css"/>
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
    <style>
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #f8f8f8;
            padding: 20px 0;
            text-align: center;
        }

        body {
            margin-bottom: 60px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header_owner :: header}"></div>
<main id="main">
    <div class="breadcrumbs d-flex align-items-center"
         style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2 style="font-family: 'Noto Sans KR',serif; font-weight: 700;">Service</h2>
            <ol>
                <li><a href="/ownerSessionKeep">Home</a></li>
                <li>서비스소개</li>
                <li>이용안내</li>
            </ol>
        </div>
    </div>
    <div style="background-color: white; color: red; text-align: center; padding: 10px; margin-top: 120px;">
        <h3>창고를 등록한 공급자는 회원탈퇴를 할 수 없습니다. 관리자한테 문의하세요.</h3>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>