<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/owner/owner-update.js"></script>
    <title>회원수정 페이지</title>
    <link rel="stylesheet" href="/css/owner/owner-join.css">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
<div th:if="${session.ownerSession != null}">
    <header id="header" class="header d-flex align-items-center">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/ownerSessionKeep" class="active">Home</a></li>
            </ul>
        </nav>
    </header>
    <h3 style="text-align: center; line-height: 2;"><span th:text="${ownerSession.owner_name}"></span>님의 회원수정</h3>
    <div class="join-form">
        <div class="content">
            <form action="/ownerInfoUpdate" method="POST">
                <div id="messageContainer">
                    <h3>사업자 번호</h3>
                    <label for="business_num">
                        <input type="text" name="business_num" id="business_num" class="text-field"
                               th:value="${ownerSession.business_num}" placeholder="사업자 번호" readonly>
                    </label>
                    <div id="business_numMessage" class="error-message"></div>
                    <h3>비밀번호</h3>
                    <label for="owner_pwd">
                        <input type="password" name="owner_pwd" id="owner_pwd" class="text-field"
                               th:value="${ownerSession.owner_pwd}" placeholder="비밀번호">
                    </label>
                    <div id="owner_pwdMessage" class="error-message"></div>
                    <h3>비밀번호 확인</h3>
                    <label for="owner_repwd">
                        <input type="password" name="owner_repwd" id="owner_repwd" class="text-field" placeholder="비밀번호 확인">
                    </label>
                    <div id="owner_repwdMessage" class="error-message"></div>
                    <h3>이름</h3>
                    <label for="owner_name">
                        <input type="text" name="owner_name" id="owner_name" class="text-field"
                               th:value="${ownerSession.owner_name}" placeholder="이름">
                    </label>
                    <div id="owner_nameMessage" class="error-message"></div>
                    <h3>전화번호</h3>
                    <label for="owner_tel">
                        <input type="tel" name="owner_tel" id="owner_tel" class="text-field"
                               th:value="${ownerSession.owner_tel}" placeholder="전화번호">
                    </label>
                    <div id="owner_telMessage" class="error-message"></div>
                    <h3>이메일</h3>
                    <label for="email">
                        <input type="text" name="email" id="email" class="text-field" maxlength="30"
                               th:value="${ownerSession.email}" placeholder="이메일">
                    </label>
                    <div id="emailMessage" class="error-message"></div>
                </div>
                <input type="submit" class="submit-btn" value="수정하기">
                <input type="reset" class="reset-btn" id="btnReset" value="취소">
            </form>
        </div>
    </div>
</div>
</body>
</html>
