<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>에이콘 컨테이너 : 회원수정</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/css/owner/owner-join.css">
    <link href="/assets/css/main.css" rel="stylesheet">
    <script src="/js/common/daum-postcode.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let ownerEmail = document.getElementById("ownerEmail");
            let ownerPassword = document.getElementById("ownerPassword");
            let ownerNm = document.getElementById("ownerNm");
            let ownerTel = document.getElementById("ownerTel");
            let ownerCompanyName = document.getElementById("ownerCompanyName");
            let ownerAddr = document.getElementById("userAddress");

            let emailResult = document.querySelector(".email-result");
            let nameResult = document.querySelector(".name-result");
            let telResult = document.querySelector(".tel-result");
            let companyNameResult = document.querySelector(".companyName-result");

            let resetButton = document.getElementById("resetBtn");
            let submitButton = document.getElementById("ownerUpdateBtn");

            let validStates = {
                ownerEmail: true,
                ownerNm: true,
                ownerTel: true,
                ownerCompanyName: true
            };

            const initialEmail = ownerEmail.value;
            const initialName = ownerNm.value;
            const initialTel = ownerTel.value;
            const initialCompanyName = ownerCompanyName.value;

            function checkFormValid() {
                const allValid = Object.values(validStates).every(Boolean);
                submitButton.disabled = !allValid;
            }

            ownerEmail.addEventListener("input", (e) => {
                validEmail(e.target, emailResult);
            });

            ownerNm.addEventListener("input", (e) => {
                validName(e.target, nameResult);
            });

            ownerTel.addEventListener("input", (e) => {
                validTel(e.target, telResult);
            });

            ownerCompanyName.addEventListener("input", (e) => {
                validCompanyName(e.target, companyNameResult);
            });

            resetButton.addEventListener("click", function () {
                window.location.href = "/owner/mypage";
            })

            function validEmail(emailInput, resultElement) {
                const email = emailInput.value.trim();
                if (email.length === 0) {
                    resultElement.textContent = "이메일을 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    emailInput.focus();
                    validStates.ownerEmail = false;
                } else if (!validEmailCheck(email)) {
                    resultElement.textContent = "이메일 형식으로 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    emailInput.focus();
                    validStates.ownerEmail = false;
                } else if (email === initialEmail) {
                    resultElement.textContent = "현재 고객님이 사용중인 이메일입니다.";
                    resultElement.classList.remove("error");
                    resultElement.classList.add("success");
                    validStates.ownerEmail = true;
                } else {
                    checkEmailDuplication(emailInput, resultElement);
                }
                checkFormValid();
            }

            function checkEmailDuplication(emailInput, resultElement) {
                const ownerEmail = emailInput.value.trim();
                fetch("/api/auth/owner/emailCheck?ownerEmail=" + encodeURIComponent(ownerEmail), {
                    method: "GET",
                    credentials: "include",
                })
                    .then(response => {
                        if (!response.ok) {
                            throw response;
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.httpStatus === "OK") {
                            resultElement.textContent = data.resultMsg;
                            resultElement.classList.add("success");
                            resultElement.classList.remove("error");
                            validStates.ownerEmail = true;
                            checkFormValid();
                        }
                    })
                    .catch(errorResponse => {
                        errorResponse.json().then(errorData => {
                            resultElement.textContent = errorData.errorMsg;
                            resultElement.classList.add("error");
                            resultElement.classList.remove("success");
                            validStates.ownerEmail = false;
                            checkFormValid();
                        });
                    });
            }

            function validEmailCheck(email) {
                let emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                return emailPattern.test(email.trim());
            }

            function validName(nameInput, resultElement) {
                const name = nameInput.value.trim();
                if (name.length === 0) {
                    resultElement.textContent = "이름을 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    nameInput.focus();
                    validStates.ownerNm = false;
                } else if (!validNameCheck(name)) {
                    resultElement.textContent = "이름을 올바르게 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    nameInput.focus();
                    validStates.ownerNm = false;
                } else if (name === initialName) {
                    resultElement.textContent = "현재 기존 회원님 이름입니다.";
                    resultElement.classList.remove("error");
                    resultElement.classList.add("success");
                    validStates.ownerNm = true;
                } else {
                    resultElement.textContent = "사용 가능한 이름입니다.";
                    resultElement.classList.remove("error");
                    resultElement.classList.add("success");
                    validStates.ownerNm = true;
                }
                checkFormValid();
            }

            function validNameCheck(name) {
                let namePattern = /^[가-힣a-zA-Z]{2,10}$/;
                return namePattern.test(name.trim());
            }

            function validTel(telInput, resultElement) {
                const tel = telInput.value.trim();
                if (tel.length === 0) {
                    resultElement.textContent = "전화번호를 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    telInput.focus();
                    validStates.ownerTel = false;
                } else if (!validTelCheck(tel)) {
                    resultElement.textContent = "전화번호를 올바르게 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    telInput.focus();
                    validStates.ownerTel = false;
                } else if (tel === initialTel) {
                    resultElement.textContent = '현재 고객님이 사용중인 전화번호입니다.';
                    resultElement.classList.remove("error");
                    resultElement.classList.add("success");
                    validStates.ownerTel = true;
                } else {
                    checkTelDuplication(telInput, resultElement);
                }
                checkFormValid();
            }

            function checkTelDuplication(telInput, resultElement) {
                const ownerTel = telInput.value.trim();
                fetch("/api/auth/owner/ownerTelCheck?ownerTel=" + encodeURIComponent(ownerTel), {
                    method: "GET",
                    credentials: "include",
                })
                    .then(response => {
                        if (!response.ok) {
                            throw response;
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.httpStatus === "OK") {
                            resultElement.textContent = data.resultMsg;
                            resultElement.classList.add("success");
                            resultElement.classList.remove("error");
                            validStates.ownerTel = true;
                            checkFormValid();
                        }
                    })
                    .catch(errorResponse => {
                        errorResponse.json().then(errorData => {
                            resultElement.textContent = errorData.errorMsg;
                            resultElement.classList.add("error");
                            resultElement.classList.remove("success");
                            validStates.ownerTel = false;
                            checkFormValid();
                        });
                    });
            }

            function validTelCheck(tel) {
                let telPattern = /^01(0|1|[6-9])[0-9]{3,4}[0-9]{4}$/;
                return telPattern.test(tel.trim());
            }

            function validCompanyName(companyNameInput, resultElement) {
                const companyName = companyNameInput.value.trim();
                if (companyName.length === 0) {
                    resultElement.textContent = "회사명을 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    companyNameInput.focus();
                    validStates.ownerCompanyName = false;
                } else if (!validCompanyNameCheck(companyName)) {
                    resultElement.textContent = "회사명을 올바르게 입력해주세요.";
                    resultElement.classList.remove("success");
                    resultElement.classList.add("error");
                    companyNameInput.focus();
                    validStates.ownerCompanyName = false;
                } else if (companyName === initialCompanyName) {
                    resultElement.textContent = '현재 기존 회원님 회사명입니다.';
                    resultElement.classList.remove("error");
                    resultElement.classList.add("success");
                    validStates.ownerCompanyName = true;
                } else {
                    checkCompanyNameDuplication(companyNameInput, resultElement);
                }
                checkFormValid();
            }

            function checkCompanyNameDuplication(companyNameInput, resultElement) {
                const ownerCompanyName = companyNameInput.value.trim();
                fetch("/api/auth/owner/companyNameCheck?ownerCompanyName=" + encodeURIComponent(ownerCompanyName), {
                    method: "GET",
                    credentials: "include",
                })
                    .then(response => {
                        if (!response.ok) {
                            throw response;
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.httpStatus === "OK") {
                            resultElement.textContent = "사용 가능한 회사명 입니다.";
                            resultElement.classList.add("success");
                            resultElement.classList.remove("error");
                            validStates.ownerCompanyName = true;
                            checkFormValid();
                        }
                    })
                    .catch(errorResponse => {
                        errorResponse.json().then(errorData => {
                            resultElement.textContent = errorData.errorMsg;
                            resultElement.classList.add("error");
                            resultElement.classList.remove("success");
                            validStates.ownerCompanyName = false;
                            checkFormValid();
                        });
                    });
            }

            function validCompanyNameCheck(companyName) {
                let companyNamePattern = /^[0-9\p{L}&\-'.\s]{2,50}$/u;
                return companyNamePattern.test(companyName.trim());
            }

            const csrfTokenElement = document.querySelector("input[name=_csrf]");
            const csrfToken = csrfTokenElement ? csrfTokenElement.value : null;

            document.getElementById("ownerUpdate").addEventListener("submit", function (e) {
                e.preventDefault();

                if (!submitButton.disabled) {
                    const ownerId = document.getElementById("ownerId").value;
                    const passwordValue = ownerPassword.value.trim();

                    if (passwordValue === "") {
                        alert("비밀번호를 입력해주세요.");
                        document.getElementById("ownerPassword").focus();
                        return;
                    }

                    if (!confirm("변경 사항을 저장하시겠습니까?")) {
                        alert("회원 정보 수정이 취소되었습니다.");
                        return;
                    }

                    const ownerData = {
                        ownerId: ownerId,
                        ownerEmail: ownerEmail.value,
                        ownerPassword: ownerPassword.value,
                        ownerNm: ownerNm.value,
                        ownerTel: ownerTel.value,
                        ownerCompanyName: ownerCompanyName.value,
                        ownerAddr: ownerAddr.value,
                        _csrf: document.querySelector("[name=_csrf]").value
                    };
                    fetch(`/api/owner/update/${ownerId}`, {
                        method: "PATCH",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRF-TOKEN": csrfToken
                        },
                        credentials: "include",
                        body: JSON.stringify(ownerData)
                    })
                        .then(response => {
                            if (!response.ok) {
                                return response.json().then(errorData => {
                                    throw new Error(errorData.errorMsg);
                                });
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.httpStatus === "OK") {
                                alert(data.resultMsg);
                                window.location.href = "/owner/mypage";
                            } else {
                                throw new Error(data.errorMsg);
                            }
                        })
                        .catch(error => {
                            alert(error.message);
                        });
                }
            });
        })
    </script>
</head>
<body>
<h3 style="text-align: center; line-height: 2;"><span th:text="${ownerData.ownerNm}"></span>님의 회원수정</h3>
<div class="join-form">
    <div class="content">
        <form id="ownerUpdate">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" name="ownerId" id="ownerId" class="text-field" th:value="${ownerData.ownerId}">

            <h3>이메일</h3>
            <label for="ownerEmail">
                <input type="text" name="ownerEmail" id="ownerEmail" class="text-field" th:value="${ownerData.ownerEmail}">
            </label><br/>
            <span class="email-result"></span>

            <h3>비밀번호</h3>
            <label for="ownerPassword">
                <input type="password" name="ownerPassword" id="ownerPassword" class="text-field"
                       placeholder="비밀번호">
            </label><br/>
            <span class="password-result"></span>

            <h3>사업자 번호</h3>
            <label for="ownerBusinessNum">
                <input type="text" name="ownerBusinessNum" id="ownerBusinessNum" class="text-field"
                       th:value="${ownerData.ownerBusinessNum}" readonly>
            </label><br/>
            <span class="businessNum-result"></span>

            <h3>이름</h3>
            <label for="ownerNm">
                <input type="text" name="ownerNm" id="ownerNm" class="text-field"
                       th:value="${ownerData.ownerNm}" placeholder="이름">
            </label><br/>
            <span class="name-result"></span>

            <h3>전화번호</h3>
            <label for="ownerTel">
                <input type="tel" name="ownerTel" id="ownerTel" class="text-field"
                       th:value="${ownerData.ownerTel}" placeholder="-를 제외한 숫자만 입력 바랍니다.">
            </label><br/>
            <span class="tel-result"></span>

            <h3>회사명</h3>
            <label for="ownerCompanyName">
                <input type="tel" name="ownerCompanyName" id="ownerCompanyName" class="text-field"
                       th:value="${ownerData.ownerCompanyName}" placeholder="회사명을 입력해주세요.">
            </label><br/>
            <span class="companyName-result"></span>

            <h3>주소</h3>
            <label for="user_postcode">
                <input type="text" id="user_postcode" class="text-field-postcode" placeholder="우편번호">
            </label>

            <input type="button" onclick="user_execDaumPostcode()" class="button-postcode" value="우편번호 찾기"><br>

            <label for="user_roadAddress">
                <input type="text" id="user_roadAddress" class="text-field-postcode" placeholder="도로명주소">
            </label>

            <label for="user_jibunAddress">
                <input type="text" id="user_jibunAddress" class="text-field-postcode" placeholder="지번주소">
            </label>

            <span id="guide" style="color:#999;display:none"></span>
            <label for="user_detailAddress">
                <input type="text" id="user_detailAddress" class="text-field-postcode" placeholder="상세주소">
            </label>

            <label for="user_extraAddress">
                <input type="text" id="user_extraAddress" class="text-field-postcode" placeholder="참고항목">
            </label>
            <br/>

            <h3>입력한 주소</h3>
            <label for="userAddress">
                <input type="text" name="ownerAddress" id="userAddress" class="text-field"
                       th:value="${ownerData.ownerAddr}" placeholder="입력한 주소">
            </label>

            <input type="submit" class="submit-btn" id="ownerUpdateBtn" value="수정하기">
            <input type="reset" class="reset-btn" id="resetBtn" value="돌아가기">
        </form>
    </div>
</div>
</body>
</html>
