<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>에이콘 컨테이너 : 회원가입</title>
    <link rel="stylesheet" href="/css/owner/owner-join.css">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link href="/assets/css/main.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/user/daum-postcode.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let ownerEmail = document.getElementById('ownerEmail');
            let ownerBusinessNum = document.getElementById('ownerBusinessNum');
            let ownerPassword = document.getElementById('ownerPassword');
            let ownerRePassword = document.getElementById('ownerRePassword');
            let ownerName = document.getElementById('ownerName');
            let ownerTel = document.getElementById('ownerTel');
            let ownerCompanyName = document.getElementById('ownerCompanyName');
            let ownerAddr = document.getElementById('userAddress');

            let emailResult = document.querySelector(".email-result");
            let businessNumResult = document.querySelector(".businessNum-result");
            let passwordResult = document.querySelector(".password-result");
            let rePasswordResult = document.querySelector(".rePassword-result");
            let nameResult = document.querySelector(".name-result");
            let telResult = document.querySelector(".tel-result");

            let resetButton = document.getElementById('btnReset');
            let submitButton = document.getElementById('btnOwnerJoin');

            let validStates = {
                ownerEmail: false,
                ownerBusinessNum: false,
                ownerPassword: false,
                ownerRePassword: false,
                ownerName: false,
                ownerTel: false
            };

            function checkFormValid() {
                const allValid = Object.values(validStates).every(Boolean);
                submitButton.disabled = !allValid;
            }

            ownerEmail.addEventListener("change", (e) => {
                validEmail(e.target, emailResult);
            });

            ownerBusinessNum.addEventListener("change", (e) => {
                validBusinessNum(e.target, businessNumResult);
            });

            ownerPassword.addEventListener("input", (e) => {
                validPassword(e.target, passwordResult);
            });

            ownerRePassword.addEventListener("change", (e) => {
                validRePassword(e.target, ownerPassword.value, rePasswordResult);
            });

            ownerName.addEventListener("input", (e) => {
                validName(e.target, nameResult);
            });

            ownerTel.addEventListener("input", (e) => {
                validTel(e.target, telResult);
            });

            resetButton.addEventListener('click', function () {
                window.location.href = '/owner/login';
            });

            document.getElementById('ownerEmail').addEventListener('blur', function () {
                validEmail(this, document.querySelector('.email-result'));
            });

            // 이메일 형식 체크 정규식
            function validEmail(emailInput, resultElement) {
                const email = emailInput.value.trim();
                if (email.length === 0) {
                    resultElement.textContent = '이메일을 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    emailInput.focus();
                    validStates.ownerEmail = false;
                } else if (!validEmailCheck(email)) {
                    resultElement.textContent = '이메일 형식으로 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    emailInput.focus();
                    validStates.ownerEmail = false;
                } else {
                    // 이메일 형식이 유효한 경우, 서버에 중복 검사 요청
                    checkEmailDuplication(emailInput, resultElement);
                }
                checkFormValid();
            }

            // 서버에 이메일 중복 검사 요청
            function checkEmailDuplication(emailInput, resultElement) {
                const ownerEmail = emailInput.value.trim();
                fetch('/api/auth/owner/emailCheck?ownerEmail=' + encodeURIComponent(ownerEmail), {
                    method: 'GET',
                    credentials: 'include',
                })
                    .then(response => {
                        if (!response.ok) {
                            // HTTP 상태 코드가 200-299 범위 밖인 경우
                            throw response;
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.resultCode === 200) {
                            resultElement.textContent = '사용 가능한 이메일입니다.';
                            resultElement.classList.add('success');
                            resultElement.classList.remove('error');
                            validStates.ownerEmail = true;
                            checkFormValid();
                        }
                    })
                    .catch(errorResponse => {
                        errorResponse.json().then(errorData => {
                            resultElement.textContent = errorData.errorMsg;
                            resultElement.classList.add('error');
                            resultElement.classList.remove('success');
                            validStates.ownerEmail = false;
                            checkFormValid();
                        });
                    });
            }

            function validEmailCheck(email) {
                let emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                return emailPattern.test(email.trim());
            }

            function validBusinessNum(businessNumInput, resultElement) {
                const businessNum = businessNumInput.value.trim();
                if (businessNum.length === 0) {
                    resultElement.textContent = '사업자 번호를 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    businessNumInput.focus();
                    validStates.ownerBusinessNum = false;
                } else if (!validBusinessNumCheck(businessNum)) {
                    resultElement.textContent = '사업자 번호 형식에 맞게 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    businessNumInput.focus();
                    validStates.ownerBusinessNum = false;
                } else {
                    // 이메일 형식이 유효한 경우, 서버에 중복 검사 요청
                    checkBusinessNumDuplication(businessNumInput, resultElement);
                }
                checkFormValid();
            }

            function checkBusinessNumDuplication(businessNumInput, resultElement) {
                const ownerBusinessNum = businessNumInput.value.trim();
                fetch('/api/auth/owner/businessNumCheck?ownerBusinessNum=' + encodeURIComponent(ownerBusinessNum), {
                    method: 'GET',
                    credentials: 'include',
                })
                    .then(response => {
                        if (!response.ok) {
                            // HTTP 상태 코드가 200-299 범위 밖인 경우
                            throw response;
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.resultCode === 200) {
                            resultElement.textContent = data.resultMsg;
                            resultElement.classList.add('success');
                            resultElement.classList.remove('error');
                            validStates.ownerBusinessNum = true;
                            checkFormValid();
                        }
                    })
                    .catch(errorResponse => {
                        errorResponse.json().then(errorData => {
                            resultElement.textContent = errorData.errorMsg;
                            resultElement.classList.add('error');
                            resultElement.classList.remove('success');
                            validStates.ownerBusinessNum = false;
                            checkFormValid();
                        });
                    });
            }

            function validBusinessNumCheck(businessNum) {
                let businessNumPattern = /^(\d{3}-\d{2}-\d{5}|\d{10})$/;
                return businessNumPattern.test(businessNum.trim());
            }

            // 비밀번호 형식 체크 정규식
            function validPassword(passwordInput, resultElement) {
                const password = passwordInput.value.trim();
                if (password.length === 0) {
                    resultElement.textContent = '비밀번호를 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    passwordInput.focus();
                    validStates.ownerPassword = false;
                } else if (!validPasswordCheck(password)) {
                    resultElement.textContent = '비밀번호는 10자 이상이며, 특수문자를 포함해야 합니다.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    passwordInput.focus();
                    validStates.ownerPassword = false;
                } else {
                    resultElement.textContent = '사용 가능한 비밀번호입니다.';
                    resultElement.classList.remove('error');
                    resultElement.classList.add('success');
                    validStates.ownerPassword = true;
                }
                checkFormValid();
            }

            function validPasswordCheck(password) {
                let passwordPattern = /^(?=.*[!@#$%^&*()_+{}":;'<>?,./]).{10,}$/;
                return passwordPattern.test(password.trim());
            }

            // 비밀번호 재확인
            function validRePassword(rePasswordInput, originalPassword, resultElement) {
                if (rePasswordInput.value !== originalPassword) {
                    resultElement.textContent = '비밀번호가 일치하지 않습니다.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    rePasswordInput.focus();
                    validStates.ownerRePassword = false;
                } else if (rePasswordInput.value === '') {
                    resultElement.textContent = '';
                    resultElement.classList.remove('success', 'error');
                } else {
                    resultElement.textContent = '비밀번호가 일치합니다.';
                    resultElement.classList.remove('error');
                    resultElement.classList.add('success');
                    validStates.ownerRePassword = true;
                }
                checkFormValid();
            }

            // 이름 형식 정규식 체크
            function validName(nameInput, resultElement) {
                const name = nameInput.value.trim();
                if (name.length === 0) {
                    resultElement.textContent = '이름을 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    nameInput.focus();
                    validStates.ownerName = false;
                } else if (!validNameCheck(name)) {
                    resultElement.textContent = '이름을 올바르게 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    nameInput.focus();
                    validStates.ownerName = false;
                } else {
                    resultElement.textContent = '사용 가능한 이름입니다.';
                    resultElement.classList.remove('error');
                    resultElement.classList.add('success');
                    validStates.ownerName = true;
                }
                checkFormValid();
            }

            function validNameCheck(name) {
                let namePattern = /^[가-힣a-zA-Z]{2,10}$/;
                return namePattern.test(name.trim());
            }

            // 전화번호 형식 정규식 체크
            function validTel(telInput, resultElement) {
                const tel = telInput.value.trim();
                if (tel.length === 0) {
                    resultElement.textContent = '전화번호를 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    telInput.focus();
                    validStates.ownerTel = false;
                } else if (!validTelCheck(tel)) {
                    resultElement.textContent = '번호를 올바르게 입력해주세요.';
                    resultElement.classList.remove('success');
                    resultElement.classList.add('error');
                    telInput.focus();
                    validStates.ownerTel = false;
                } else {
                    // 전화번호 형식이 유효한 경우, 서버에 중복 검사 요청
                    checkTelDuplication(telInput, resultElement);
                }
                checkFormValid();
            }

            // 서버에 전화번호 중복 검사 요청
            function checkTelDuplication(telInput, resultElement) {
                const ownerTel = telInput.value.trim();
                fetch('/api/auth/owner/ownerTelCheck?ownerTel=' + encodeURIComponent(ownerTel), {
                    method: 'GET',
                    credentials: 'include',
                })
                    .then(response => {
                        if (!response.ok) {
                            // HTTP 상태 코드가 200-299 범위 밖인 경우
                            throw response;
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.resultCode === 200) {
                            resultElement.textContent = data.resultMsg;
                            resultElement.classList.add('success');
                            resultElement.classList.remove('error');
                            validStates.ownerTel = true;
                            checkFormValid();
                        }
                    })
                    .catch(errorResponse => {
                        errorResponse.json().then(errorData => {
                            resultElement.textContent = errorData.errorMsg;
                            resultElement.classList.add('error');
                            resultElement.classList.remove('success');
                            validStates.ownerTel = false;
                            checkFormValid();
                        });
                    });
            }

            function validTelCheck(tel) {
                let telPattern = /^01(0|1|[6-9])[0-9]{3,4}[0-9]{4}$/;
                return telPattern.test(tel.trim());
            }

            const csrfTokenElement = document.querySelector('input[name="_csrf"]');
            const csrfToken = csrfTokenElement ? csrfTokenElement.value : null;

            // 회원가입 폼 데이터 전송
            document.getElementById('ownerRegister').addEventListener('submit', function (e) {
                e.preventDefault();
                if (!submitButton.disabled) {
                    const ownerData = {
                        ownerEmail: ownerEmail.value,
                        ownerBusinessNum: ownerBusinessNum.value,
                        ownerPassword: ownerPassword.value,
                        ownerName: ownerName.value,
                        ownerTel: ownerTel.value,
                        ownerCompanyName: ownerCompanyName.value,
                        ownerAddr: ownerAddr.value,
                        _csrf: document.querySelector('[name="_csrf"]').value
                    };
                    fetch('/api/auth/owner/register', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': csrfToken
                        },
                        credentials: 'include',
                        body: JSON.stringify(ownerData)
                    })
                        .then(response => {
                            if (!response.ok) {
                                return response.json().then(errorData => {
                                    throw new Error(errorData.errorMsg);
                                });
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.resultCode === 201) {
                                alert(data.resultMsg);
                                window.location.href = '/owner/login';
                            } else {
                                throw new Error(data.errorMsg);
                            }
                        })
                        .catch(error => {
                            alert(error.message);
                        });
                }
            });

        });
    </script>
</head>
<body>
<h3 style="text-align: center;">공급자 회원가입</h3>
<div class="join-form">
    <div class="content">
        <form id="ownerRegister">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <h3>이메일</h3>
            <label for="ownerEmail">
                <input type="text" name="ownerEmail" id="ownerEmail" class="text-field"
                       placeholder="이메일 ex) abc1234@naver.com">
            </label><br/>
            <span class="email-result"></span>

            <h3>비밀번호</h3>
            <label for="ownerPassword">
                <input type="password" name="ownerPassword" id="ownerPassword" class="text-field"
                       placeholder="비밀번호">
            </label><br/>
            <span class="password-result"></span>

            <h3>비밀번호 확인</h3>
            <label for="ownerRePassword">
                <input type="password" id="ownerRePassword" class="text-field" placeholder="비밀번호 확인">
            </label><br/>
            <span class="rePassword-result"></span>

            <h3>사업자 번호</h3>
            <label for="ownerBusinessNum">
                <input type="text" name="ownerBusinessNum" id="ownerBusinessNum" class="text-field"
                       placeholder="사업자 번호 ex) 111-11-11111">
            </label><br/>
            <span class="businessNum-result"></span>

            <h3>이름</h3>
            <label for="ownerName">
                <input type="text" name="ownerName" id="ownerName" class="text-field" placeholder="이름">
            </label><br/>
            <span class="name-result"></span>

            <h3>전화번호</h3>
            <label for="ownerTel">
                <input type="tel" name="ownerTel" id="ownerTel" class="text-field"
                       placeholder="-를 제외한 숫자만 입력 바랍니다.">
            </label><br/>
            <span class="tel-result"></span>

            <h3>회사명</h3>
            <label for="ownerCompanyName">
                <input type="tel" name="ownerCompanyName" id="ownerCompanyName" class="text-field"
                       placeholder="회사명을 입력해주세요.">
            </label><br/>

            <h3>주소</h3>
            <label for="user_postcode">
                <input type="text" id="user_postcode" class="text-field-postcode" placeholder="우편번호">
            </label>

            <input type="button" onclick="user_execDaumPostcode()" class="button-postcode" value="우편번호 찾기"><br>

            <label for="user_roadAddress">
                <input type="text" id="user_roadAddress" class="text-field-postcode" placeholder="도로명주소">
            </label>

            <label for="user_jibunAddress">
                <input type="text" id="user_jibunAddress" class="text-field-postcode" placeholder="지번주소">
            </label>

            <span id="guide" style="color:#999;display:none"></span>
            <label for="user_detailAddress">
                <input type="text" id="user_detailAddress" class="text-field-postcode" placeholder="상세주소">
            </label>

            <label for="user_extraAddress">
                <input type="text" id="user_extraAddress" class="text-field-postcode" placeholder="참고항목">
            </label>
            <br/>

            <h3>입력한 주소</h3>
            <label for="userAddress">
                <input type="text" name="ownerAddress" id="userAddress" class="text-field"
                       placeholder="입력한 주소">
            </label>

            <input type="submit" class="submit-btn" id="btnOwnerJoin" value="가입하기" disabled>
            <input type="reset" class="reset-btn" id="btnReset" value="취소">
        </form>
    </div>
</div>
</body>
</html>
