<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.api.repository.board.BoardCommentRepository">
    <resultMap id="boardCommentResultMap"                   type="com.acorn.api.entity.board.BoardComment">
        <id property="boardCommentId"                       column="BOARD_COMMENT_ID"/>
        <result property="boardCommentBoardId"              column="BOARD_COMMENT_BOARD_ID"/>
        <result property="boardCommentUserId"               column="BOARD_COMMENT_USER_ID"/>
        <result property="boardCommentOwnerId"              column="BOARD_COMMENT_OWNER_ID"/>
        <result property="boardCommentParentCommentId"      column="BOARD_COMMENT_PARENT_COMMENT_ID"/>
        <result property="boardCommentContents"             column="BOARD_COMMENT_CONTENTS"/>
        <result property="boardCommentYn"                   column="BOARD_COMMENT_YN"/>
        <result property="boardCommentCreated"              column="BOARD_COMMENT_CREATED"/>
        <result property="boardCommentUpdated"              column="BOARD_COMMENT_UPDATED"/>
        <association property="user"                        javaType="com.acorn.api.entity.user.User" resultMap="com.acorn.api.repository.user.UserRepository.userResultMap"/>
        <association property="owner"                       javaType="com.acorn.api.entity.owner.Owner" resultMap="com.acorn.api.repository.owner.OwnerRepository.ownerResultMap"/>
    </resultMap>

    <select id="selectBoardCommentIdKey" resultType="Integer">
        SELECT nextval(BOARD_COMMENT_SEQ)
    </select>

    <select id="selectBoardCommentsDetailByBoardId" parameterType="Integer" resultMap="boardCommentResultMap">
        SELECT
            C.BOARD_COMMENT_ID,
            C.BOARD_COMMENT_USER_ID,
            C.BOARD_COMMENT_OWNER_ID,
            C.BOARD_COMMENT_OWNER_ID,
            C.BOARD_COMMENT_PARENT_COMMENT_ID,
            C.BOARD_COMMENT_CONTENTS,
            C.BOARD_COMMENT_YN,
            C.BOARD_COMMENT_CREATED,
            U.USER_NM,
            O.OWNER_NM
        FROM
            TB_BOARD_COMMENT C
        LEFT OUTER JOIN
            TB_USER U
        ON C.BOARD_COMMENT_USER_ID = U.USER_ID
        LEFT OUTER JOIN
            TB_OWNER O
        ON C.BOARD_COMMENT_OWNER_ID = O.OWNER_ID
        WHERE
            C.BOARD_COMMENT_BOARD_ID = #{boardCommentBoardId}
        ORDER BY
            C.BOARD_COMMENT_PARENT_COMMENT_ID ASC, C.BOARD_COMMENT_ID ASC
    </select>

    <select id="selectBoardCommentById" parameterType="Integer" resultMap="boardCommentResultMap">
        SELECT
            BOARD_COMMENT_ID,
            BOARD_COMMENT_USER_ID,
            BOARD_COMMENT_OWNER_ID,
            BOARD_COMMENT_OWNER_ID,
            BOARD_COMMENT_CONTENTS,
            BOARD_COMMENT_YN,
            BOARD_COMMENT_CREATED
        FROM
            TB_BOARD_COMMENT
        WHERE
            BOARD_COMMENT_ID = #{boardCommentId}
    </select>

    <select id="selectBoardCommentsByParentId" parameterType="Integer" resultMap="boardCommentResultMap">
        SELECT
            BOARD_COMMENT_ID,
            BOARD_COMMENT_USER_ID,
            BOARD_COMMENT_OWNER_ID,
            BOARD_COMMENT_OWNER_ID,
            BOARD_COMMENT_CONTENTS,
            BOARD_COMMENT_YN,
            BOARD_COMMENT_CREATED
        FROM
            TB_BOARD_COMMENT
        WHERE
            BOARD_COMMENT_PARENT_COMMENT_ID = #{boardCommentParentCommentId}
    </select>

    <insert id="saveBoardComment" parameterType="com.acorn.api.entity.board.BoardComment" useGeneratedKeys="true" keyProperty="boardCommentId">
        INSERT INTO TB_BOARD_COMMENT (
            BOARD_COMMENT_ID,
            BOARD_COMMENT_BOARD_ID,
            BOARD_COMMENT_USER_ID,
            BOARD_COMMENT_OWNER_ID,
            BOARD_COMMENT_PARENT_COMMENT_ID,
            BOARD_COMMENT_CONTENTS,
            BOARD_COMMENT_YN,
            BOARD_COMMENT_CREATED
        ) VALUES (
            #{boardCommentId},
            #{boardCommentBoardId},
            #{boardCommentUserId},
            #{boardCommentOwnerId},
            #{boardCommentParentCommentId},
            #{boardCommentContents},
            #{boardCommentYn},
            NOW()
        )
    </insert>
</mapper>