<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.api.repository.board.BoardRepository">
    <resultMap id="boardResultMap"                  type="com.acorn.api.entity.board.Board">
        <id property="rowNum"                       column="ROW_NUM"/>
        <id property="boardId"                      column="BOARD_ID"/>
        <result property="boardTitle"               column="BOARD_TITLE"/>
        <result property="boardWriter"              column="BOARD_WRITER"/>
        <result property="boardPassword"            column="BOARD_PASSWORD"/>
        <result property="boardContents"            column="BOARD_CONTENTS"/>
        <result property="boardContentsText"        column="BOARD_CONTENTS_TEXT"/>
        <result property="boardHits"                column="BOARD_HITS"/>
        <result property="boardCreated"             column="BOARD_CREATED"/>
        <result property="boardUpdated"             column="BOARD_UPDATED"/>
        <result property="boardUserId"              column="BOARD_USER_ID"/>
        <result property="boardOwnerId"             column="BOARD_OWNER_ID"/>
        <collection property="boardFilesList"       javaType="java.util.List" resultMap="com.acorn.api.repository.board.BoardFileRepository.boardFileResultMap" columnPrefix="F_"/>
    </resultMap>

    <select id="selectBoardIdKey" resultType="Integer">
        SELECT nextval(BOARD_SEQ)
    </select>

    <select id="selectListCountByRequest" parameterType="com.acorn.api.common.PaginationRequest" resultType="Integer">
        SELECT
            COUNT(BOARD_ID)
        FROM TB_BOARD
        <where>
            <if test="searchType == 'boardTitle' and searchName != null and searchName.trim() !=''">
                BOARD_TITLE LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardContentsText' and searchName != null and searchName.trim() !=''">
                BOARD_CONTENTS_TEXT LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardWriter' and searchName != null and searchName.trim() !=''">
                BOARD_WRITER LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardTitleContents' and searchName != null and searchName.trim() !=''">
                (BOARD_TITLE LIKE CONCAT('%', #{searchName}, '%') OR
                BOARD_CONTENTS LIKE CONCAT('%', #{searchName}, '%'))
            </if>
        </where>
    </select>

    <select id="selectBoardListData" parameterType="com.acorn.api.common.PaginationRequest" resultMap="boardResultMap">
        SELECT
            ROW_NUMBER() OVER (ORDER BY BOARD_CREATED ASC) AS ROW_NUM,
            BOARD_ID,
            BOARD_TITLE,
            BOARD_WRITER,
            BOARD_PASSWORD,
            BOARD_CONTENTS,
            BOARD_CONTENTS_TEXT,
            BOARD_HITS,
            BOARD_CREATED,
            BOARD_UPDATED,
            BOARD_USER_ID,
            BOARD_OWNER_ID
        FROM TB_BOARD
        <where>
            <if test="searchType == 'boardTitle' and searchName != null and searchName.trim() !=''">
                BOARD_TITLE LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardContentsText' and searchName != null and searchName.trim() !=''">
                BOARD_CONTENTS_TEXT LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardWriter' and searchName != null and searchName.trim() !=''">
                BOARD_WRITER LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardTitleContents' and searchName != null and searchName.trim() !=''">
                (BOARD_TITLE LIKE CONCAT('%', #{searchName}, '%') OR
                BOARD_CONTENTS LIKE CONCAT('%', #{searchName}, '%'))
            </if>
        </where>
        ORDER BY BOARD_CREATED DESC
        LIMIT ${startRowNum}, ${pageSize}
    </select>

    <insert id="boardSave" parameterType="board" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO TB_BOARD (BOARD_ID, BOARD_TITLE, BOARD_WRITER, BOARD_PASSWORD, BOARD_CONTENTS, BOARD_CONTENTS_TEXT, BOARD_USER_ID, BOARD_OWNER_ID)
        VALUES (#{boardId}, #{boardTitle}, #{boardWriter}, #{boardPassword}, #{boardContents}, #{boardContentsText}, #{boardUserId}, #{boardOwnerId})
    </insert>

    <select id="selectBoardDetailData" parameterType="Integer" resultMap="boardResultMap">
        SELECT
            B.BOARD_ID,
            B.BOARD_TITLE,
            B.BOARD_WRITER,
            B.BOARD_PASSWORD,
            B.BOARD_CONTENTS,
            B.BOARD_CONTENTS_TEXT,
            B.BOARD_HITS,
            B.BOARD_CREATED,
            B.BOARD_UPDATED,
            B.BOARD_USER_ID,
            B.BOARD_OWNER_ID,
            F.BOARD_FILE_ID,
            F.BOARD_FILE_ORIGINAL_FILE_NAME,
            F.BOARD_FILE_STORED_FILE_NAME,
            F.BOARD_FILE_PATH,
            F.BOARD_FILE_EXTNS_NM,
            F.BOARD_FILE_SIZE,
            F.BOARD_FILE_CREATED,
            F.BOARD_FILE_UPDATED
        FROM TB_BOARD B
                 LEFT JOIN TB_BOARD_FILE F ON B.BOARD_ID = F.BOARD_FILE_BOARD_ID
        WHERE B.BOARD_ID = #{boardId}
    </select>
</mapper>