<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <resultMap id="boardResultMap"                  type="board" autoMapping="true">
        <result property="boardId"                  column="BOARD_ID"/>
        <result property="boardTitle"               column="BOARD_TITLE"/>
        <result property="boardWriter"              column="BOARD_WRITER"/>
        <result property="boardContents"            column="BOARD_CONTENTS"/>
        <result property="boardContentsText"        column="BOARD_CONTENTS_TEXT"/>
        <result property="boardHits"                column="BOARD_HITS"/>
    </resultMap>

    <!-- 게시글 전체 조회 -->
    <select id="selectBoardListData" resultMap="boardResultMap">
        SELECT * FROM TB_BOARD;
    </select>
</mapper>