<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <resultMap id="boardResultMap"                  type="board" autoMapping="true">
        <result property="rowNum"                   column="ROW_NUM"/>
        <result property="boardId"                  column="BOARD_ID"/>
        <result property="boardTitle"               column="BOARD_TITLE"/>
        <result property="boardWriter"              column="BOARD_WRITER"/>
        <result property="boardPassword"            column="BOARD_PASSWORD"/>
        <result property="boardContents"            column="BOARD_CONTENTS"/>
        <result property="boardContentsText"        column="BOARD_CONTENTS_TEXT"/>
        <result property="boardUserId"              column="BOARD_USER_ID"/>
        <result property="boardOwnerId"             column="BOARD_OWNER_ID"/>
        <result property="boardHits"                column="BOARD_HITS"/>
        <result property="boardCreated"             column="BOARD_CREATED"/>
        <result property="boardUpdated"             column="BOARD_UPDATED"/>
    </resultMap>

    <resultMap id="boardFileResultMap"              type="boardFile" autoMapping="true">
        <result property="boardFileId"              column="BOARD_FILE_ID"/>
        <result property="boardId"                  column="BOARD_FILE_BOARD_ID"/>
        <result property="boardOriginalFileName"    column="BOARD_FILE_ORIGINAL_FILE_NAME"/>
        <result property="boardStoredFileName"      column="BOARD_FILE_STORED_FILE_NAME"/>
        <result property="boardFilePath"            column="BOARD_FILE_PATH"/>
        <result property="boardFileExtNm"           column="BOARD_FILE_TYPE"/>
        <result property="boardFileSize"            column="BOARD_FILE_SIZE"/>
    </resultMap>

    <!-- select key -->
    <select id="selectBoardIdKey" resultType="Integer">
        SELECT nextval(BOARD_SEQ)
    </select>

    <select id="selectBoardFileIdKey" resultType="Integer">
        SELECT nextval(BOARD_FILE_SEQ)
    </select>

    <!-- 게시글 갯수 확인 -->
    <select id="selectListByCount" resultType="int">
        SELECT
            COUNT(BOARD_ID)
        FROM TB_BOARD
        <where>
            <if test="searchType == 'boardTitle' and searchName != null and searchName.trim() !=''">
                BOARD_TITLE LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardContentsText' and searchName != null and searchName.trim() !=''">
                BOARD_CONTENTS_TEXT LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardWriter' and searchName != null and searchName.trim() !=''">
                BOARD_WRITER LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'boardTitleContents' and searchName != null and searchName.trim() !=''">
                (BOARD_TITLE LIKE CONCAT('%', #{searchName}, '%') OR
                BOARD_CONTENTS LIKE CONCAT('%', #{searchName}, '%'))
            </if>
        </where>
    </select>

    <!-- 게시글 전체 조회 -->
    <select id="selectBoardListData" resultMap="boardResultMap">
        SELECT
            ROW_NUMBER() OVER (ORDER BY BOARD_CREATED DESC) AS ROW_NUM,
            BOARD_ID,
            BOARD_TITLE,
            BOARD_WRITER,
            BOARD_PASSWORD,
            BOARD_CONTENTS,
            BOARD_CONTENTS_TEXT,
            BOARD_HITS,
            DATE_FORMAT(BOARD_CREATED, '%Y-%m-%d') AS BOARD_CREATED,
            BOARD_UPDATED
        FROM TB_BOARD
    </select>

    <!-- 게시글 작성 -->
    <insert id="insertBoard" parameterType="board" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO TB_BOARD (BOARD_ID, BOARD_TITLE, BOARD_WRITER, BOARD_PASSWORD, BOARD_CONTENTS, BOARD_CONTENTS_TEXT, BOARD_USER_ID, BOARD_OWNER_ID)
        VALUES (#{boardId}, #{boardTitle}, #{boardWriter}, #{boardPassword}, #{boardContents}, #{boardContentsText}, #{boardUserId}, #{boardOwnerId})
    </insert>

    <!-- 게시글 첨부파일 저장 -->
    <insert id="insertBoardFile" parameterType="boardFile">
        INSERT INTO TB_BOARD_FILE (BOARD_FILE_ID, BOARD_FILE_ORIGINAL_FILE_NAME, BOARD_FILE_STORED_FILE_NAME, BOARD_FILE_PATH, BOARD_FILE_TYPE, BOARD_FILE_SIZE, BOARD_FILE_BOARD_ID)
        VALUES (#{boardFileId}, #{boardOriginalFileName}, #{boardStoredFileName}, #{boardFilePath}, #{boardFileExtNm}, #{boardFileSize}, #{boardId})
    </insert>
</mapper>