<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.api.repository.container.ContainerRepository">
    <resultMap id="containerResultMap"              type="com.acorn.api.entity.container.Container">
        <id property="rowNum"                       column="ROW_NUM"/>
        <id property="containerId"                  column="CONTAINER_ID"/>
        <result property="containerName"            column="CONTAINER_NAME"/>
        <result property="containerAddr"            column="CONTAINER_ADDRESS"/>
        <result property="containerLatitude"        column="CONTAINER_LATITUDE"/>
        <result property="containerLongitude"       column="CONTAINER_LONGITUDE"/>
        <result property="containerContents"        column="CONTAINER_CONTENTS"/>
        <result property="containerContentsText"    column="CONTAINER_CONTENTS_TEXT"/>
        <result property="containerSize"            column="CONTAINER_SIZE"/>
        <result property="containerPrice"           column="CONTAINER_PRICE"/>
        <result property="containerStatus"          column="CONTAINER_STATUS"/>
        <result property="containerApprovalStatus"  column="CONTAINER_APPROVAL_STATUS"/>
        <result property="containerCreated"         column="CONTAINER_CREATED"/>
        <result property="containerUpdated"         column="CONTAINER_UPDATED"/>
        <result property="containerOwnerId"         column="CONTAINER_OWNER_ID"/>
        <collection property="owner"                javaType="com.acorn.api.entity.owner.Owner" resultMap="com.acorn.api.repository.owner.OwnerRepository.ownerResultMap"/>
        <collection property="containerFiles"       javaType="java.util.List" resultMap="com.acorn.api.repository.container.ContainerFileRepository.containerFileResultMap"/>
    </resultMap>

    <select id="selectContainerIdKey" resultType="java.lang.Integer">
        SELECT nextval(CONTAINER_SEQ)
    </select>

    <select id="selectListCountByRequest" parameterType="com.acorn.api.common.PaginationRequest" resultType="Integer">
        SELECT
            COUNT(CONTAINER_ID)
        FROM
            TB_CONTAINER
        <where>
            CONTAINER_OWNER_ID = #{containerOwnerId}
            <if test="searchType == 'containerName' and searchName != null and searchName.trim() != ''">
                AND CONTAINER_NAME LIKE CONCAT ('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'containerStatus' and searchName != null and searchName.trim() != ''">
                AND CONTAINER_STATUS = #{searchName}
            </if>
            <if test="searchType == 'containerApprovalStatus' and searchName != null and searchName.trim() != ''">
                AND CONTAINER_APPROVAL_STATUS = #{searchName}
            </if>
        </where>
    </select>

    <select id="selectAdminListCountByRequest" parameterType="com.acorn.api.common.PaginationRequest" resultType="Integer">
        SELECT
            COUNT(CONTAINER_ID)
        FROM
            TB_CONTAINER
        <where>
            <if test="searchType == 'containerAddr' and searchName != null and searchName.trim() != ''">
                CONTAINER_ADDRESS LIKE CONCAT ('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'containerStatus' and searchName != null and searchName.trim() != ''">
                CONTAINER_STATUS LIKE CONCAT ('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'containerApprovalStatus' and searchName != null and searchName.trim() != ''">
                CONTAINER_APPROVAL_STATUS LIKE CONCAT ('%', #{searchName}, '%')
            </if>
        </where>
    </select>

    <select id="selectContainerListData" parameterType="com.acorn.api.common.PaginationRequest" resultMap="containerResultMap">
        SELECT
            ROW_NUMBER() OVER (ORDER BY C.CONTAINER_CREATED ASC) AS ROW_NUM,
            C.CONTAINER_ID,
            C.CONTAINER_NAME,
            C.CONTAINER_SIZE,
            C.CONTAINER_STATUS,
            C.CONTAINER_APPROVAL_STATUS,
            C.CONTAINER_CREATED,
            O.OWNER_ID,
            O.OWNER_NM
        FROM
            TB_CONTAINER C
        INNER JOIN
            TB_OWNER O
        ON C.CONTAINER_OWNER_ID = O.OWNER_ID
        <where>
            CONTAINER_OWNER_ID = #{containerOwnerId}
            <if test="searchType == 'containerName' and searchName != null and searchName.trim() != ''">
                AND CONTAINER_NAME LIKE CONCAT ('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'containerStatus' and searchName != null and searchName.trim() != ''">
                AND CONTAINER_STATUS = #{searchName}
            </if>
            <if test="searchType == 'containerApprovalStatus' and searchName != null and searchName.trim() != ''">
                AND CONTAINER_APPROVAL_STATUS = #{searchName}
            </if>
        </where>
        ORDER BY CONTAINER_CREATED DESC
        LIMIT ${startRowNum}, ${pageSize}
    </select>

    <select id="selectAdminContainerListData" parameterType="com.acorn.api.common.PaginationRequest" resultMap="containerResultMap">
        SELECT
            ROW_NUMBER() OVER (ORDER BY C.CONTAINER_CREATED ASC) AS ROW_NUM,
            C.CONTAINER_ID,
            C.CONTAINER_ADDRESS,
            C.CONTAINER_SIZE,
            C.CONTAINER_STATUS,
            C.CONTAINER_APPROVAL_STATUS,
            C.CONTAINER_CREATED,
            O.OWNER_COMPANY_NAME
        FROM
            TB_CONTAINER C
        INNER JOIN
            TB_OWNER O
        ON C.CONTAINER_OWNER_ID = O.OWNER_ID
        <where>
            <if test="searchType == 'containerAddr' and searchName != null and searchName.trim() != ''">
                CONTAINER_ADDRESS LIKE CONCAT ('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'containerStatus' and searchName != null and searchName.trim() != ''">
                CONTAINER_STATUS LIKE CONCAT ('%', #{searchName}, '%')
            </if>
            <if test="searchType == 'containerApprovalStatus' and searchName != null and searchName.trim() != ''">
                CONTAINER_APPROVAL_STATUS LIKE CONCAT ('%', #{searchName}, '%')
            </if>
        </where>
        ORDER BY CONTAINER_CREATED DESC
        LIMIT ${startRowNum}, ${pageSize}
    </select>

    <select id="selectContainerDetailData" parameterType="Integer" resultMap="containerResultMap">
        SELECT
            C.CONTAINER_ID,
            C.CONTAINER_OWNER_ID,
            C.CONTAINER_NAME,
            C.CONTAINER_ADDRESS,
            C.CONTAINER_LATITUDE,
            C.CONTAINER_LONGITUDE,
            C.CONTAINER_CONTENTS,
            C.CONTAINER_CONTENTS_TEXT,
            C.CONTAINER_SIZE,
            C.CONTAINER_PRICE,
            C.CONTAINER_STATUS,
            C.CONTAINER_APPROVAL_STATUS,
            F.CONTAINER_FILE_ID,
            F.CONTAINER_FILE_CONTAINER_ID,
            F.CONTAINER_FILE_ORIGINAL_FILE_NAME,
            F.CONTAINER_FILE_STORED_FILE_NAME,
            F.CONTAINER_FILE_PATH,
            F.CONTAINER_FILE_EXTNS_NM,
            F.CONTAINER_FILE_SIZE,
            O.OWNER_NM
        FROM
            TB_CONTAINER C
        INNER JOIN
            TB_OWNER O
        ON C.CONTAINER_OWNER_ID = O.OWNER_ID
        LEFT OUTER JOIN
            TB_CONTAINER_FILE F
        ON C.CONTAINER_ID = F.CONTAINER_FILE_CONTAINER_ID
        WHERE
            C.CONTAINER_ID = #{containerId}
    </select>

    <select id="selectContainerAllData" parameterType="Integer" resultMap="containerResultMap">
        SELECT
            C.CONTAINER_ID,
            C.CONTAINER_OWNER_ID,
            C.CONTAINER_NAME,
            C.CONTAINER_ADDRESS,
            C.CONTAINER_LATITUDE,
            C.CONTAINER_LONGITUDE,
            C.CONTAINER_CONTENTS,
            C.CONTAINER_CONTENTS_TEXT,
            C.CONTAINER_SIZE,
            C.CONTAINER_PRICE,
            C.CONTAINER_STATUS,
            C.CONTAINER_APPROVAL_STATUS
        FROM
            TB_CONTAINER C
        WHERE
            C.CONTAINER_OWNER_ID = #{containerOwnerId}
    </select>

    <insert id="containerRegister" parameterType="com.acorn.api.entity.container.Container" useGeneratedKeys="true" keyProperty="containerId">
        INSERT INTO TB_CONTAINER (
            CONTAINER_ID,
            CONTAINER_NAME,
            CONTAINER_ADDRESS,
            CONTAINER_LATITUDE,
            CONTAINER_LONGITUDE,
            CONTAINER_CONTENTS,
            CONTAINER_CONTENTS_TEXT,
            CONTAINER_SIZE,
            CONTAINER_PRICE,
            CONTAINER_STATUS,
            CONTAINER_APPROVAL_STATUS,
            CONTAINER_OWNER_ID
        ) VALUES (
            #{containerId},
            #{containerName},
            #{containerAddr},
            #{containerLatitude},
            #{containerLongitude},
            #{containerContents},
            #{containerContentsText},
            #{containerSize},
            #{containerPrice},
            #{containerStatus},
            #{containerApprovalStatus},
            #{containerOwnerId}
        )
    </insert>

    <update id="containerUpdate" parameterType="com.acorn.api.entity.container.Container">
        UPDATE
            TB_CONTAINER
        SET
            CONTAINER_NAME = #{containerName},
            CONTAINER_SIZE = #{containerSize},
            CONTAINER_PRICE = #{containerPrice},
            CONTAINER_ADDRESS = #{containerAddr},
            CONTAINER_LATITUDE = #{containerLatitude},
            CONTAINER_LONGITUDE = #{containerLongitude},
            CONTAINER_CONTENTS = #{containerContents},
            CONTAINER_CONTENTS_TEXT = #{containerContentsText}
        WHERE
            CONTAINER_ID = #{containerId}
    </update>

    <delete id="containerDelete" parameterType="com.acorn.api.entity.container.Container">
        DELETE
        FROM
            TB_CONTAINER
        WHERE
            CONTAINER_ID = #{containerId}
    </delete>
</mapper>