<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.api.repository.payment.PaymentRepository">
    <resultMap id="paymentResultMap"                type="com.acorn.api.entity.payment.Payment">
        <id property="rowNum"                       column="ROW_NUM"/>
        <id property="paymentId"                    column="PAYMENT_ID"/>
        <result property="paymentTid"               column="PAYMENT_TID"/>
        <result property="paymentUserId"            column="PAYMENT_USER_ID"/>
        <result property="paymentReservationId"     column="PAYMENT_RESERVATION_ID"/>
        <result property="paymentAmount"            column="PAYMENT_AMOUNT"/>
        <result property="paymentStatus"            column="PAYMENT_STATUS"/>
        <result property="paymentApproved"          column="PAYMENT_APPROVED"/>
        <result property="paymentCreated"           column="PAYMENT_CREATED"/>
        <result property="paymentCanceled"          column="PAYMENT_CANCELED"/>
        <result property="paymentCancelDeadline"    column="PAYMENT_CANCEL_DEADLINE"/>
        <association property="user"                javaType="com.acorn.api.entity.user.User" resultMap="com.acorn.api.repository.user.UserRepository.userResultMap"/>
        <association property="reservation"         javaType="com.acorn.api.entity.reservation.Reservation" resultMap="com.acorn.api.repository.reservation.ReservationRepository.reservationResultMap"/>
    </resultMap>

    <select id="selectPaymentIdKey" resultType="Integer">
        SELECT nextval(PAYMENTS_SEQ)
    </select>

    <select id="selectListCountByRequest" parameterType="com.acorn.api.common.PaginationRequest" resultType="Integer">
        SELECT
            COUNT(P.PAYMENT_ID)
        FROM
            TB_PAYMENT P
        INNER JOIN
            TB_RESERVATION R
        ON P.PAYMENT_RESERVATION_ID = R.RESERVATION_ID
        INNER JOIN
            TB_CONTAINER C
        ON R.RESERVATION_CONTAINER_ID = C.CONTAINER_ID
        <where>
            P.PAYMENT_USER_ID = #{paymentUserId}
            <if test="searchType == 'paymentStatus' and searchName != null and searchName.trim() != ''">
                AND P.PAYMENT_STATUS = #{searchName}
            </if>
            <if test="searchType == 'containerName' and searchName != null and searchName.trim() != ''">
                AND C.CONTAINER_NAME LIKE CONCAT('%', TRIM(#{searchName}), '%')
            </if>
        </where>
    </select>

    <select id="selectPaymentListData" parameterType="com.acorn.api.common.PaginationRequest" resultMap="paymentResultMap">
        SELECT
            ROW_NUMBER() OVER (ORDER BY P.PAYMENT_APPROVED ASC) AS ROW_NUM,
            P.PAYMENT_ID,
            P.PAYMENT_AMOUNT,
            P.PAYMENT_STATUS,
            P.PAYMENT_APPROVED,
            P.PAYMENT_CANCELED,
            C.CONTAINER_NAME
        FROM
            TB_PAYMENT P
        INNER JOIN
            TB_RESERVATION R
        ON P.PAYMENT_RESERVATION_ID = R.RESERVATION_ID
        INNER JOIN
            TB_CONTAINER C
        ON R.RESERVATION_CONTAINER_ID = C.CONTAINER_ID
        <where>
            P.PAYMENT_USER_ID = #{paymentUserId}
            <if test="searchType == 'paymentStatus' and searchName != null and searchName.trim() != ''">
                AND P.PAYMENT_STATUS = #{searchName}
            </if>
            <if test="searchType == 'containerName' and searchName != null and searchName.trim() != ''">
                AND C.CONTAINER_NAME LIKE CONCAT('%', TRIM(#{searchName}), '%')
            </if>
        </where>
        ORDER BY P.PAYMENT_APPROVED DESC
        LIMIT #{startRowNum}, #{pageSize}
    </select>

    <select id="selectPaymentByReservationId" parameterType="Integer" resultMap="paymentResultMap">
        SELECT
            P.PAYMENT_ID,
            P.PAYMENT_TID,
            P.PAYMENT_USER_ID,
            P.PAYMENT_RESERVATION_ID,
            P.PAYMENT_AMOUNT,
            P.PAYMENT_STATUS,
            R.RESERVATION_ID,
            R.RESERVATION_CONTAINER_ID
        FROM
            TB_PAYMENT P
        INNER JOIN
            TB_RESERVATION R
        ON P.PAYMENT_RESERVATION_ID = R.RESERVATION_ID
        WHERE P.PAYMENT_RESERVATION_ID = #{paymentReservationId};
    </select>

    <select id="selectPaymentDetailData" parameterType="Integer" resultMap="paymentResultMap">
        SELECT
            P.PAYMENT_ID,
            P.PAYMENT_TID,
            P.PAYMENT_USER_ID,
            P.PAYMENT_AMOUNT,
            P.PAYMENT_STATUS,
            P.PAYMENT_APPROVED,
            P.PAYMENT_CANCELED,
            P.PAYMENT_CANCEL_DEADLINE,
            R.RESERVATION_ID,
            C.CONTAINER_ID,
            C.CONTAINER_NAME
        FROM
            TB_PAYMENT P
        INNER JOIN
            TB_RESERVATION R
        ON P.PAYMENT_RESERVATION_ID = R.RESERVATION_ID
        INNER JOIN
            TB_CONTAINER C
        ON R.RESERVATION_CONTAINER_ID = C.CONTAINER_ID
        WHERE PAYMENT_ID = #{paymentId}
    </select>

    <insert id="insertPayment" parameterType="com.acorn.api.entity.payment.Payment" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO TB_PAYMENT (
            PAYMENT_ID,
            PAYMENT_TID,
            PAYMENT_USER_ID,
            PAYMENT_RESERVATION_ID,
            PAYMENT_AMOUNT,
            PAYMENT_STATUS,
            PAYMENT_APPROVED,
            PAYMENT_CANCEL_DEADLINE
        ) VALUES (
            #{paymentId},
            #{paymentTid},
            #{paymentUserId},
            #{paymentReservationId},
            #{paymentAmount},
            #{paymentStatus},
            #{paymentApproved},
            #{paymentCancelDeadline}
        )
    </insert>

    <update id="updatePaymentStatus" parameterType="com.acorn.api.entity.payment.Payment">
        UPDATE
            TB_PAYMENT
        SET
            PAYMENT_STATUS = #{paymentStatus},
            PAYMENT_CANCELED = NOW()
        WHERE
            PAYMENT_ID = #{paymentId}
    </update>
</mapper>