body {
    font-family: "Noto Sans KR", serif;
    margin: 0;
    padding: 0;
}

.customer-banner {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 130px;
    top: 65%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

h2 {
    font-weight: 550;
    font-size: 25px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover,
li.active {
    font-weight: bold;
    color: darkslateblue;
    background-color: #f2f2f2;
}

strong {
    display: block;
    margin-top: 10px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.board-container table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
}

.board-container th {
    padding: 20px;
    border: none;
    background-color: transparent;
}

.board-container td {
    padding: 17px;
    border-style: none;
}

.board-container td a {
    color: #333;
}

.table-row-styling {
    border-bottom: 1px solid #000;
    padding-top: 20px;
    border-top: 1px solid #000;
}

.table-top-info {
    text-align: left;
    padding-bottom: 0;
}

.table-form-container {
    padding-top: 20px;
}

.search-form {
    margin-bottom: 30px;
}

.title {
    font-weight: 600;
    font-size: 25px;
}
